<div class="page-container">Page of</div>
<table class="invoice-info-container">
    <tbody>
    <tr>
        <td class="client-name" rowspan="2">{{client_name}}</td>
        <td>Johny9020</td>
    </tr>
    <tr>
        <td>Lidicka 1591</td>
    </tr>
    <tr>
        <td>Invoice Date: <strong>{{today_date}}</strong></td>
        <td>Kunratice U Cvikova</td>
    </tr>
    <tr>
        <td>Invoice No: <strong>{{ invoice_number }}</strong></td>
        <td>hello@example.com</td>
    </tr>
    </tbody>
</table>
<table class="line-items-container">
    <thead>
    <tr>
        <th class="heading-quantity">&nbsp;</th>
        <th class="heading-description">Description</th>
        <th class="heading-price">&nbsp;</th>
        <th class="heading-subtotal">Subtotal</th>
    </tr>
    </thead>
    <tbody>
    {% for item in invoice_list %}
    <tr>
        <td>&nbsp;</td>
        <td>{{item[0]}}</td>
        <td class="right">&nbsp;</td>
        <td class="bold">{{item[1]}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table class="line-items-container has-bottom-border">
    <thead>
    <tr>
        <th>Payment Info</th>
        <th>Due By</th>
        <th>Total Due</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="payment-info">
            <div>Account No: <strong>123567744</strong></div>
            <div>Routing No: <strong>120000547</strong></div>
        </td>
        <td class="large">{{month}}</td>
        <td class="large total">{{total}}</td>
    </tr>
    </tbody>
</table>
<div class="footer">
    <div class="footer-info">hello@exanoke.com</div>
    <div class="footer-thanks">
        Thank you for your business!
    </div>
</div>